.row div#content {
    margin-top: 40px;
}

.container-header {
    margin-bottom: 20px;
}

.navbar-brand {
    padding: 10px;
}

.navbar-light {
    box-shadow: 0 0 2px 2px #ddd;
    ;
}

.jumbotron-height {
    min-height: 500px;
    margin: 0px;
}

.promosi {
    min-height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: -webkit-linear-gradient(-45deg, #ec5252, #6e1a52);
    background: -moz-linear-gradient(-45deg, #ec5252 0, #6e1a52 100%);
    background: -ms-linear-gradient(-45deg, #ec5252 0, #6e1a52 100%);
    background: -o-linear-gradient(-45deg, #ec5252 0, #6e1a52 100%);
    background: linear-gradient(-45deg, #ec5252, #6e1a52);
}

h1.icon-text:before {
    content: "\E92F";
}

.card {
    border: none !important;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    border-radius: 0px;
}

.meta-content li {
    display: inline-block
}