<nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#">{{.Title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Permrograman
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">PHP <i class="fa code"></i></a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <form action="">
                <input class="form-control" type="text " placeholder="Pencarian..." style="height: 45px; width: 475px;     background-color: #f2f3f5!important;
                border: 1px solid transparent;
                height: 45px;
                padding: 0 15px;
                border-radius: 2px 0 0 2px;
                font-size: 13px;
                margin: 0 30px">
            </form>
            <li class="nav-item">
                <a class="nav-link" href="#">Bantuan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tentang</a>
            </li>
        </ul>


    </div>

</nav>